In [77]:
import pandas as pd
import numpy as np

In [78]:
df=pd.read_csv('loan.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [79]:
df.head(10)

  BsmtQual FireplaceQu GarageType  SalePrice
0       Gd         NaN     Attchd     208500
1       Gd          TA     Attchd     181500
2       Gd          TA     Attchd     223500
3       TA          Gd     Detchd     140000
4       Gd          TA     Attchd     250000
5       Gd         NaN     Attchd     143000
6       Ex          Gd     Attchd     307000
7       Gd          TA     Attchd     200000
8       TA          TA     Detchd     129900
9       TA          TA     Attchd     118000

In [80]:
df.columns

Index(['BsmtQual', 'FireplaceQu', 'GarageType', 'SalePrice'], dtype='object')

In [81]:
df['BsmtQual_NAN']=np.where(df['BsmtQual'].isnull(),1,0)
frequent=df['BsmtQual'].mode()[0]
df.loc[:,'BsmtQual'] = df['BsmtQual'].fillna(frequent)

In [82]:
df.head(30)

   BsmtQual FireplaceQu GarageType  SalePrice  BsmtQual_NAN
0        Gd         NaN     Attchd     208500             0
1        Gd          TA     Attchd     181500             0
2        Gd          TA     Attchd     223500             0
3        TA          Gd     Detchd     140000             0
4        Gd          TA     Attchd     250000             0
5        Gd         NaN     Attchd     143000             0
6        Ex          Gd     Attchd     307000             0
7        Gd          TA     Attchd     200000             0
8        TA          TA     Detchd     129900             0
9        TA          TA     Attchd     118000             0
10       TA         NaN     Detchd     129500             0
11       Ex          Gd    BuiltIn     345000             0
12       TA         NaN     Detchd     144000             0
13       Gd          Gd     Attchd     279500             0
14       TA          Fa     Attchd     157000             0
15       TA         NaN     Detchd     132000             0
16       TA          TA     Attchd     149000             0
17       TA         NaN    CarPort      90000             1
18       TA         NaN     Detchd     159000             0
19       TA         NaN     Attchd     139000             0
20       Ex          Gd    BuiltIn     325300             0
21       TA          Gd     Attchd     139400             0
22       Gd          Gd     Attchd     230000             0
23       Gd          TA     Attchd     129900             0
24       TA          TA     Attchd     154000             0
25       Gd          Gd     Attchd     256300             0
26       TA         NaN     Detchd     134800             0
27       Ex          Gd     Attchd     306000             0
28       TA          Gd     Attchd     207500             0
29       TA         NaN     Detchd      68500             0

In [83]:
df['FireplaceQu_NAN']=np.where(df['FireplaceQu'].isnull(),1,0)
frequent=df['FireplaceQu'].mode()[0]
df.loc[:, 'FireplaceQu'] = df['FireplaceQu'].fillna(frequent)

In [84]:
df['GarageType_NAN']=np.where(df['GarageType'].isnull(),1,0)
frequent=df['GarageType'].mode()[0]
df.loc[:,'GarageType']=df['GarageType'].fillna(frequent)

In [85]:
df.head(30)

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_NAN,FireplaceQu_NAN,GarageType_NAN
0,Gd,Gd,Attchd,208500,0,1,0
1,Gd,TA,Attchd,181500,0,0,0
2,Gd,TA,Attchd,223500,0,0,0
3,TA,Gd,Detchd,140000,0,0,0
4,Gd,TA,Attchd,250000,0,0,0
5,Gd,Gd,Attchd,143000,0,1,0
6,Ex,Gd,Attchd,307000,0,0,0
7,Gd,TA,Attchd,200000,0,0,0
8,TA,TA,Detchd,129900,0,0,0
9,TA,TA,Attchd,118000,0,0,0
10,TA,Gd,Detchd,129500,0,1,0
11,Ex,Gd,BuiltIn,345000,0,0,0
12,TA,Gd,Detchd,144000,0,1,0
13,Gd,Gd,Attchd,279500,0,0,0
14,TA,Fa,Attchd,157000,0,0,0
15,TA,Gd,Detchd,132000,0,1,0
16,TA,TA,Attchd,149000,0,0,0
17,TA,Gd,CarPort,90000,1,1,0
18,TA,Gd,Detchd,159000,0,1,0
19,TA,Gd,Attchd,139000,0,1,0
20,Ex,Gd,BuiltIn,325300,0,0,0
21,TA,Gd,Attchd,139400,0,0,0
22,Gd,Gd,Attchd,230000,0,0,0
23,Gd,TA,Attchd,129900,0,0,0
24,TA,TA,Attchd,154000,0,0,0
25,Gd,Gd,Attchd,256300,0,0,0
26,TA,Gd,Detchd,134800,0,1,0
27,Ex,Gd,Attchd,306000,0,0,0
28,TA,Gd,Attchd,207500,0,0,0
29,TA,Gd,Detchd,68500,0,1,0

### suppose you have more frequent categories , we just replace NAN with new categories feature

In [92]:
df=pd.read_csv('loan.csv',usecols=['BsmtQual','FireplaceQu','GarageType','SalePrice'])

In [93]:
def imputate_nan(df,variable):
    df[variable+'_new']=np.where(df[variable].isnull(),'Missing',df[variable])

In [94]:
for feature in ['BsmtQual','FireplaceQu','GarageType']:
    imputate_nan(df,feature)

In [95]:
df.head(30)

,BsmtQual,FireplaceQu,GarageType,SalePrice,BsmtQual_new,FireplaceQu_new,GarageType_new
0,Gd,NaN,Attchd,208500,Gd,Missing,Attchd
1,Gd,TA,Attchd,181500,Gd,TA,Attchd
2,Gd,TA,Attchd,223500,Gd,TA,Attchd
3,TA,Gd,Detchd,140000,TA,Gd,Detchd
4,Gd,TA,Attchd,250000,Gd,TA,Attchd
5,Gd,NaN,Attchd,143000,Gd,Missing,Attchd
6,Ex,Gd,Attchd,307000,Ex,Gd,Attchd
7,Gd,TA,Attchd,200000,Gd,TA,Attchd
8,TA,TA,Detchd,129900,TA,TA,Detchd
9,TA,TA,Attchd,118000,TA,TA,Attchd
10,TA,NaN,Detchd,129500,TA,Missing,Detchd
11,Ex,Gd,BuiltIn,345000,Ex,Gd,BuiltIn
12,TA,NaN,Detchd,144000,TA,Missing,Detchd
13,Gd,Gd,Attchd,279500,Gd,Gd,Attchd
14,TA,Fa,Attchd,157000,TA,Fa,Attchd
15,TA,NaN,Detchd,132000,TA,Missing,Detchd
16,TA,TA,Attchd,149000,TA,TA,Attchd
17,NaN,NaN,CarPort,90000,Missing,Missing,CarPort
18,TA,NaN,Detchd,159000,TA,Missing,Detchd
19,TA,NaN,Attchd,139000,TA,Missing,Attchd
20,Ex,Gd,BuiltIn,325300,Ex,Gd,BuiltIn
21,TA,Gd,Attchd,139400,TA,Gd,Attchd
22,Gd,Gd,Attchd,230000,Gd,Gd,Attchd
23,Gd,TA,Attchd,129900,Gd,TA,Attchd
24,TA,TA,Attchd,154000,TA,TA,Attchd
25,Gd,Gd,Attchd,256300,Gd,Gd,Attchd
26,TA,NaN,Detchd,134800,TA,Missing,Detchd
27,Ex,Gd,Attchd,306000,Ex,Gd,Attchd
28,TA,Gd,Attchd,207500,TA,Gd,Attchd
29,TA,NaN,Detchd,68500,TA,Missing,Detchd

In [89]:
df['GarageType_new'].unique()

array(['Attchd', 'Detchd', 'BuiltIn', 'CarPort', 'Basment', '2Types'],
      dtype=object)